*{
margin:0;
padding:0;
list-style:none;
text-decoration:none;
box-sizing:border-box;
/* outline: 1px solid red;
outline-offset:-1px ; */
font-family: 'Poppins', sans-serif;
}
body{

    background-color:#13131F;
    transition-duration: .3s;
}

body.active{

    background-color:#FFFFFF;
}
header{
width:100%;
display:flex;
justify-content:space-between;
padding:20px 70px;
}

header i {
color:#8257E6;
cursor: pointer;
}

header h3 {
    color:#FFFFFF;

}

body.active header h3{

    color:#8257E6;
}
header .menu{

    transition-duration: 3s;
    cursor:pointer;

}

header .menu:hover{
    background-color:#8257E6;
    border-radius:20px;
    color:#13131F;

}
#banner{
    display:flex;
    height: calc(100vh - 64px);
    align-items: center;

}

#banner .item{
    width:50%;
}

#banner h1 {
font-size:40px;
color:#FFFFFF;
}

#banner h1 span{

    display:block;
    color:#8257E6;

}

#banner a {
display:inline-block;


}